
 .Container-Seccion{
    width: 100%;
    display: inline-block;
    flex-direction: row;
    justify-content: center;
    background-color:#464649;
    color: #242424;
    text-align: center;
   
  }

  .Container-Seccion h2{
     
    color: #fff;
    text-align: center;
   
  }


  
  